@using Scaffold_Test_User.Models
@using Microsoft.AspNetCore.Identity
@using Scaffold_Test_User.Areas.Identity.Data; 


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext ApplicationDbContext

@if (!SignInManager.IsSignedIn(User))
{
    <h1>Aby wyświetlić swoje pojazdy uprzednio musisz się zalogować.</h1>
}
else
{
    
    var currentUser = await UserManager.GetUserAsync(User);    
    var reservations = ApplicationDbContext.Reservations.Where(r => r.UserId == currentUser.Id).ToList();

    if (reservations.Count == 0)
    {
        <h1>Nie masz żadnych rezerwacji, przejdź do zakładki pojazdy.</h1>
    }
    else
    {
        <h1>Vehicles you have reserved:</h1>
        <ul>
            @foreach (var reservation in reservations)
            {
                var vehicle = ApplicationDbContext.Vehicles.FirstOrDefault(v => v.Id == reservation.VehicleId);
                if (vehicle != null)
                {
                    <li>@vehicle.Name</li>
                }
            }
        </ul>
    }
}
