@{
ViewData["Title"] = "Wypożyczalnia pojazdów";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3 class="text-center">Ceny za jeden dzień wynajmu wskazanego typu pojazdu</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="bg-primary"></th>
                <th class="bg-primary">Klasa 1</th>
                <th class="bg-primary">Klasa 2</th>
                <th class="bg-primary">Klasa 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-primary">Samochód osobowy</td>
                <td>200 zł</td>
                <td>150 zł</td>
                <td>100 zł</td>
            </tr>
            <tr>
                <td class="bg-primary">Van</td>
                <td>250 zł</td>
                <td>200 zł</td>
                <td>150 zł</td>
            </tr>
            <tr>
                <td class="bg-primary">Motor</td>
                <td>150 zł</td>
                <td>100 zł</td>
                <td>75 zł</td>
            </tr>
            <tr>
                <td class="bg-primary">Inne pojazdy</td>
                <td>Cena</td>
                <td>ustalana</td>
                <td>indywidualnie</td>
            </tr>
        </tbody>
    </table>
</div>
